.bg-transparent {
  background-color: transparent !important;
}

.student-profile-container {
  background: white;
  padding: 10px;
}

.student-profile-container .profile-header {
  background-color: #f6f6f6;
  height: 50px;
  font-size: 20px;
  padding: 10px;
}

.student-profile-container .form-main-container {
  border: 1px solid #ababab;
}

.student-profile-container .form-main-container > div {
  padding: 0px;
}

.student-profile-container .student-profile-form {
  border-left: 1px solid #ababab;
}

.collapse-container .collapse-header {
  border: 1px solid #ababab;
  background-color: #f6f6f6;
  padding: 5px;
  border-left: 0px;
  border-right: 0px;
  margin-top: -1px;
}

.collapse-container .collapse-header .collapse-title {
  float: left;
}

.collapse-container .collapse-header .collapse-icon {
  float: right;
  padding-top: 4px;
  cursor: pointer;
}

.collapse-container .form-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.collapse-container .form-container > div {
  display: none;
}

.collapse-container .collapse-header .collapse-icon .fa-minus {
  display: none;
}

.form-container .form-control-container {
  height: 90px;
  margin: 0px 10px;
}
